.container-fluid {
    height: 100% !important;
    > .content-row {
        height: inherit !important;
        padding: 15px;

        > ng-ndiku-input {
            min-height: 50px;
        }
    }

}

.mat-flat-button {
  margin-right: 15px;
  margin-top: 15px;
}


::ng-deep .app-table-demo .container-fluid {
  width: 550px;
  margin-top: 20px;
}
