

<div class="container-fluid">
  <div class="row content-row">
    <div class="col-12 content-col">
      <p>{{ enteredEmail }}</p>

      <form [formGroup]="editBaseForm" (ngSubmit)="onAddItem()">
        <lib-ng-ndiku-input
          (inputComponentReady)="addChild('nameGroup', $event)"
          (inputChanged)="showenteredEmail($event)"
          >
        </lib-ng-ndiku-input>
      </form>
      <button mat-flat-button color="primary" (click)="createEmailInputControl()">Create email input control</button>
    </div>
  </div>
</div>


