

<div class="container-fluid">
  <div class="row content-row">
    <div class="col-12 content-col">
      <p>{{ enteredEmail }}</p>

      <form [formGroup]="editBaseForm" (ngSubmit)="onAddItem()">
        <ng-ndiku-input 
          (onComponentReady)="addChild('nameGroup', $event)"
          (inputChanged)="showenteredEmail($event)"
          >
        </ng-ndiku-input>
      </form>
      <button mat-flat-button color="primary" (click)="createEmailInputControl()">Create email input control</button>
    </div>
  </div>
</div>  


