<div class="container-fluid">
  <div class="row content-row">
    <div class="col-12 content-col">
      <h2>CLICK THE BUTTON TO SEE MAGIC!</h2>
      <h3>This will create an input control.</h3>
      <form [formGroup]="editBaseForm" (ngSubmit)="onAddItem()">
        <p>{{ enteredPassword }}</p>
        <lib-ng-ndiku-input> </lib-ng-ndiku-input>
      </form>
      <button mat-flat-button color="primary" (click)="subscribeToInputValue()">
        Subscribe to input value
      </button>
      <button
        mat-flat-button
        color="accent"
        (click)="createPasswordInputControl()"
      >
        Create Password input control
      </button>
      <button mat-flat-button color="warn" (click)="unSubscribeToInputValue()">
        Unsubscribe to input value
      </button>
    </div>
  </div>
</div>
